/*define variables for colors */
@import url(https://fonts.googleapis.com/css?family=Play);
body {
  background-color: black !important;
  width: 100%;
}

* {
  box-sizing: border-box;
  overflow: top !important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  font-family: Play;
  color: #F6F1F1;
}

.new-main-wrapper {
  width: 100%;
  background-color: #343152;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.skillbar-main-wrapper {
  width: 100%;
  background-color: #343152;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  width: 100%;
}

.grid-item {
  width: auto;
  height: auto;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  grid-gap: 2px;
  margin-top: 2px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.grid-item2 {
  width: 100%;
  height: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  background-color: #343152;
  color: #F6F1F1;
}

.topbox99 {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: #191825;
  position: relative;
  text-align: Center;
  background-color: prime;
  color: #F6F1F1;
  font-size: 20px;
  margin-bottom: 2px;
}

.navbar {
  background-color: #343152;
  width: 100%;
  height: 50px;
  border-width: px25;
  border-color: black;
  border-style: solid;
  color: #F6F1F1;
}

/*Character title*/
#character-profile-wrapper {
  border-width: 2px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 250px;
  border-color: black;
  border-style: solid;
  grid-gap: 3px;
}

.charactername {
  display: grid;
  grid-template-columns: 1fr 50px 240px 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.lvl {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -220%);
}

.nameandlevel {
  position: relative;
  top: 10%;
}

.mattclass {
  position: relative;
  top: 10%;
}

.bio {
  font-style: italic;
  font-size: 13px;
  background-color: #141000;
  border-color: black;
  border-style: solid;
  width: 100%;
}

#image-profiletext {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 1fr 1fr;
  grid-row-end: span 2;
  font-size: 10px;
}

#mypic {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-right: 2px;
  height: auto;
  width: 200px;
}

.availableattributes {
  display: grid;
  grid-template-columns: 200px 50px;
  place-items: center;
  grid-gap: 1px;
  padding-left: 30px;
  text-align: center;
}

#stat-bio-wrapper {
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-template-rows: 1fr;
  place-items: left;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
}

.attributepoints {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: left;
  grid-gap: 15px;
}

.attr {
  background-color: black;
}

.attrvalue:hover {
  background-color: orange;
  font-weight: bold;
}

.attrvalue {
  background-color: white;
  color: black;
}

.attributelist {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px;
  place-items: center;
  grid-gap: 15px;
  padding-left: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.attributeitem {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: #F6F1F1;
  border-style: solid;
  text-align: center;
}

/* End Attribute Values */
/* Skill Tree */
#skillscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
  grid-gap: 2px;
  width: 100%;
}

#skilltreecontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
}

.skillpoints {
  display: grid;
  grid-template-columns: 300px 150px;
  grid-template-rows: 185px;
}

#acquiredskillscontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  width: 100%;
}

.skilltree {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 10px;
  width: 100%;
}

.skillitem {
  width: 60px;
  height: auto;
  border-width: 1px;
  border-color: #3d3d3d;
  border-style: solid;
  text-align: center;
  place-items: center;
}

/* End Skill Tree */
.Desc {
  font-size: 10px;
  font-style: italic;
  width: 200px;
  text-align: center;
}

.classes {
  color: #F6F1F1;
  background-color: #191825;
  position: relative;
  height: 50%;
}

a {
  text-decoration: none !important;
  color: #F6F1F1 !important;
}

h4 {
  text-align: center;
}

p span {
  display: block;
}

.dropdown-item {
  background-color: black !important;
  color: #F6F1F1;
}

.dropdown-menu {
  background-color: black !important;
}

.dropdown-divider {
  background-color: #F6F1F1 !important;
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    article {
      display: flex;
    }
    .navbar {
      width: 100%;
      position: relative;
      z-index: 1 !important;
      display: flex;
    }
    .tbl {
      width: 100%;
      position: relative;
      z-index: 0 !important;
      display: flex;
    }
    .topbox {
      width: 100% !important;
      font-size: 20px !important;
      display: flex;
    }
  }
}
#vbabttn {
  background-color: black;
  border-width: px200 px25;
  border-color: #F6F1F1;
  border-style: solid;
  border-radius: 5%;
}

#webprojectbttn {
  background-color: black;
  border-width: px200 px25;
  border-color: #F6F1F1;
  border-style: solid;
  border-radius: 5%;
}

#classchange {
  background-color: black;
  border-width: px15;
  border-color: #F6F1F1;
  border-style: solid;
  border-radius: 5%;
  font-size: 10px;
  padding-left: 45px;
  padding-right: 45px;
}

#webbttn {
  background-color: black;
  border-width: px200 px25;
  border-color: #F6F1F1;
  border-style: solid;
  border-radius: 5%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar3 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar3.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar4 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar4.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar5 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar5.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* Tooltip container */
.tooltipp {
  position: relative;
  display: inline-block;
}

.tooltipp .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipp:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltipp2 {
  position: relative;
  display: inline-block;
}

.tooltipp2 .tooltiptext2 {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipp2:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

#exp99 {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 100%;
  border-collapse: collapse;
  font-family: Play;
  height: auto;
}

.expwrapper {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

#exp-bar {
  text-align: center;
}

.vbabttndisabler {
  visibility: hidden;
}

.exp-bar-25 {
  width: 0%;
  animation-name: exp-bar-25, exp-bar-glow-25;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0s, 0s;
}

.exp-bar-50 {
  width: 50%;
  animation-name: exp-bar-50, exp-bar-glow-50;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0s, 0s;
}

.exp-bar-75 {
  width: 75%;
  animation-name: exp-bar-75, exp-bar-glow-75;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0s, 0s;
}

.exp-bar-100 {
  width: 100%;
  animation-name: exp-bar-100, exp-bar-glow-100;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0s, 0s;
}

@keyframes exp-bar-glow-25 {
  from {
    width: 0%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 25%;
    position: relative;
    background: #46d4ff;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-glow-50 {
  from {
    width: 25%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 50%;
    position: relative;
    background: #3db9d8;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-glow-75 {
  from {
    width: 50%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 75%;
    position: relative;
    background: #46d4ff;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-glow-100 {
  from {
    width: 75%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 100%;
    position: relative;
    background: #46d4ff;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-25 {
  from {
    width: 0%;
    background-color: #46d4ff;
    height: 25px;
  }
  to {
    width: 25%;
    background-color: #46d4ff;
    height: 25px;
  }
}
@keyframes exp-bar-50 {
  from {
    width: 25%;
    background-color: #46d4ff;
    height: 25px;
  }
  to {
    width: 50%;
    background-color: #46d4ff;
    height: 25px;
  }
}
@keyframes exp-bar-75 {
  from {
    width: 50%;
    background-color: #46d4ff;
    height: 25px;
  }
  to {
    width: 75%;
    background-color: #46d4ff;
    height: 25px;
  }
}
@keyframes exp-bar-100 {
  from {
    width: 75%;
    background-color: #46d4ff;
    height: 25px;
  }
  to {
    width: 100%;
    background-color: #46d4ff;
    height: 25px;
  }
}
.exp-bar-test-25 {
  width: 0%;
  animation-name: exp-bar-test-anime-25;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.exp-bar-test-50 {
  width: 0%;
  animation-name: exp-bar-test-anime-50;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.exp-bar-test-75 {
  width: 0%;
  animation-name: exp-bar-test-anime-75;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.exp-bar-test-100 {
  width: 0%;
  animation-name: exp-bar-test-anime-100;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@keyframes exp-bar-test-anime-25 {
  from {
    width: 0%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 100%;
    position: relative;
    background: #343152;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-test-anime-50 {
  from {
    width: 25%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 100%;
    position: relative;
    background: #343152;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-test-anime-75 {
  from {
    width: 50%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 100%;
    position: relative;
    background: #343152;
    -webkit-filter: blur(0px);
  }
}
@keyframes exp-bar-test-anime-100 {
  from {
    width: 75%;
    position: relative;
    background: #fff;
    -webkit-filter: blur(2px);
  }
  to {
    width: 100%;
    position: relative;
    background: #343152;
    -webkit-filter: blur(0px);
  }
}
#skillbarwrapper {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container1 {
  width: 100%;
  background-color: #343152;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #424242;
}

#skills1 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}

#skills2 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}

#skills3 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}

#skills4 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}

#skills5 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}

.html {
  width: 90%;
  background-color: #04AA6D;
}

.css {
  width: 80%;
  background-color: #2196F3;
}

.js {
  width: 65%;
  background-color: #f44336;
}

.sql {
  width: 50%;
  background-color: #a60fd4;
}

.excel {
  width: 100%;
  background-color: #04eaf1;
}

.html1 {
  width: 100%;
  background-color: #04AA6D;
}

.css1 {
  width: 100%;
  background-color: #2196F3;
}

.sql1 {
  width: 85%;
  background-color: #a60fd4;
}

.js1 {
  width: 85%;
  background-color: #f44336;
}

.sql2 {
  width: 100%;
  background-color: #a60fd4;
}

.js2 {
  width: 100%;
  background-color: #f44336;
}

#exceltexts {
  padding-left: 15px;
}

#htmltexts {
  padding-left: 15px;
}

#csstexts {
  padding-left: 15px;
}

#jstexts {
  padding-left: 15px;
}

#sqltexts {
  padding-left: 15px;
}

/*Skill tree ToolTips*/
.tooltip-css-beginner {
  position: relative;
  display: inline-block;
}

.tooltip-css-beginner .css-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-css-beginner:hover .css-beginner-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-css-intermediate {
  position: relative;
  display: inline-block;
}

.tooltip-css-intermediate .css-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-css-intermediate:hover .css-intermediate-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-css-advanced {
  position: relative;
  display: inline-block;
}

.tooltip-css-advanced .css-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-css-advanced:hover .css-advanced-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-html-beginner {
  position: relative;
  display: inline-block;
}

.tooltip-html-beginner .html-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-html-beginner:hover .html-beginner-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-html-intermediate {
  position: relative;
  display: inline-block;
}

.tooltip-html-intermediate .html-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-html-intermediate:hover .html-intermediate-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-html-advanced {
  position: relative;
  display: inline-block;
}

.tooltip-html-advanced .html-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-html-advanced:hover .html-advanced-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-js-beginner {
  position: relative;
  display: inline-block;
}

.tooltip-js-beginner .js-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-js-beginner:hover .js-beginner-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-js-intermediate {
  position: relative;
  display: inline-block;
}

.tooltip-js-intermediate .js-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-js-intermediate:hover .js-intermediate-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-js-advanced {
  position: relative;
  display: inline-block;
}

.tooltip-js-advanced .js-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-js-advanced:hover .js-advanced-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-excel-beginner {
  position: relative;
  display: inline-block;
}

.tooltip-excel-beginner .excel-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-excel-beginner:hover .excel-beginner-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-excel-intermediate {
  position: relative;
  display: inline-block;
}

.tooltip-excel-intermediate .excel-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-excel-intermediate:hover .excel-intermediate-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-excel-advanced {
  position: relative;
  display: inline-block;
}

.tooltip-excel-advanced .excel-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-excel-advanced:hover .excel-advanced-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-sql-beginner {
  position: relative;
  display: inline-block;
}

.tooltip-sql-beginner .sql-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-sql-beginner:hover .sql-beginner-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-sql-intermediate {
  position: relative;
  display: inline-block;
}

.tooltip-sql-intermediate .sql-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-sql-intermediate:hover .sql-intermediate-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-sql-advanced {
  position: relative;
  display: inline-block;
}

.tooltip-sql-advanced .sql-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-sql-advanced:hover .sql-advanced-text {
  visibility: visible;
  opacity: 1;
}

/*End Skill Tooltip section*//*# sourceMappingURL=sassy.css.map */