/*define variables for colors */
@import url(https://fonts.googleapis.com/css?family=Play);
$prime_1: #F6F1F1;
$prime_2: #343152;
$prime_3: #191825;
:root {
  --widths: 25%;
  --widthmin: 0%;
}
body {
  background-color:black !important; 
  width: 100%;
}
*{
  box-sizing: border-box;
  overflow: top !important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  font-family: Play;
  color: $prime_1;
}
.new-main-wrapper {
  width: 100%;
  background-color: $prime_2;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.skillbar-main-wrapper {
  width: 100%;
  background-color: $prime_2;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  width: 100%;
}
.grid-item {
  width: auto;
  height: auto;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  grid-gap: 2px;
  margin-top: 2px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.grid-item2 {
  width: 100%;
  height: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  background-color: $prime_2;
  color: $prime_1;
}
.topbox99 {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: $prime_3;
  position: relative;
  text-align: Center;
  background-color: prime;
  color:$prime_1; 
  font-size: 20px;
  margin-bottom: 2px;
}
.navbar{
  background-color:$prime_2;
  width: 100%;
  height: 50px;
  border-width: px25;
  border-color: black;
  border-style: solid;
  color:$prime_1;
}
  /*Character title*/
  #character-profile-wrapper {
    border-width: 2px;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 100px 250px;
    border-color: black;
    border-style: solid;
    grid-gap: 3px;
  }
  .charactername{
    display: grid;
    grid-template-columns: 1fr 50px 240px 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
  .lvl {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -220%);
  }
  .nameandlevel {
    position: relative;
    top: 10%;
  }
  .mattclass {
    position: relative;
    top: 10%;
  }
  #image-profiletext {
    display: grid;
    grid-template-columns: 210px;
    grid-row-end: span 2;
    font-size: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  #mypic {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-right: 2px;
    width: 200px;
  }
  .availableattributes {
    display: grid;
    grid-template-columns: 200px 50px;
    place-items: center;
    grid-gap: 1px;
    padding-left: 30px;
    text-align: center;
  }
  #stat-bio-wrapper {
    display: grid;
    grid-template-columns: 1fr 600px;;
    grid-template-rows: 1fr;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 2px;
  }
  .attributepoints {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: left;
    grid-gap: 15px;
  }
  .attr {
    background-color: black;
  }
  .attrvalue:hover {
    background-color: orange;
    font-weight: bold;
  }
  .attrvalue {
    background-color: white;
    color: black;
  }
  .attributelist {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    place-items: center;
    grid-gap: 15px;
    padding-left: 50px;
    padding-bottom: 30px;
    text-align: center;
  }
  .attributeitem {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: $prime_1;
    border-style: solid;
    text-align: center;
  }
  /* End Attribute Values */
  //Start Stats
  #new-stat-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 15px;
    background-color: $prime_3;
    border-color: black;
    border-style: solid;
    width: 100%;
  }
  #class-stat-id {
    align-self: center;
    font-size: 18px;
  }
  #psa-wrapper {
    align-self: baseline;
    font-size: 16px;
  }
  #power, #power-value {
    display: inline;
  }
  #power, #speed, #accuracy,#power-value, #speed-value, #accuracy-value {
    display: inline;
  }
  #problemsolving-wrapper {
    display: inline;
    grid-column-end: span 2;
  }
  #problemsolving, #problemsolving-value {
    display: inline;
  }
  #retention-wrapper,  #comprehension-wrapper {
    display: inline-block;
  }
  #retention, #retention-value  {
    display: inline;
  }
  #comprehension, #comprehension-value {
    display: inline;
  }
  #resolve-wrapper, #technique-wrapper {
    display: inline;
  }
  #resolve, #resolve-value  {
    display: inline;
  }
  #technique, #technique-value {
    display: inline;
  }
  #precision-wrapper, #speed2-wrapper {
    display: inline;
  }
  #precision, #precision-value  {
    display: inline;
  }
  #speed2, #speed2-value {
    display: inline;
  }
  //end stats
  /* Skill Tree */
//Main Container for skills
#skillscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
  grid-gap: 2px;
  width: 100%;
}
#skilltreecontainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr  1fr;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
}
.skillpoints {
  display: grid;
  grid-template-columns: 300px 150px;
  grid-template-rows: 185px;
}
#acquiredskillscontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px  50px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  width: 100%;
}
.skilltree {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px ;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 10px;
  width: 100%;
}
.skillitem {
  width: 60px;
  height: auto;
  border-width: 1px;
  border-color: #3d3d3d;
  border-style: solid;
  text-align: center;
  place-items: center;
}
/* End Skill Tree */
  .Desc {
    font-size: 10px;
    font-style: italic;
    width: 200px;
    text-align: center;
  }
  .classes {
    color: $prime_1;
    background-color: #191825;
    position: relative;
    height: 50%;
  }
  a {
    text-decoration : none !important;
    color:$prime_1 !important;
  }
  h4{
    text-align: center;
  }
  p span {
    display: block;
  }
  .dropdown-item {
    background-color: black !important;
    color:$prime_1;
  }
  .dropdown-menu {
    background-color: black !important;
  }
  .dropdown-divider {
    background-color: $prime_1 !important;
  }

  @supports (display: flex) {
    @media screen and (max-width: 800px) {
      article {
        display: flex;
      }
        .navbar {
          width: 100%;
          position: relative;
          z-index: 1 !important;
          display: flex;
        }
        .tbl {
         width: 100%;
         position: relative;
         z-index: 0 !important;
         display: flex;
        }
        .topbox {
         width: 100% !important;
         font-size: 20px !important;
         display: flex;
        }
    }
  }
.expwrapper {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
  margin-bottom: 2px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.bttn {
  background-color: #000000;
  border-color: #dbdbdb;
  border-color: $prime_1;
}
.bttn.disabled {
  background-color: #353535;
  cursor: not-allowed;
  border-color: #949494;
}
.dis-permanent {
  background-color: #7a7a7a;
  cursor: not-allowed;
  border-color: #cccccc;
  color: black !important;
}
.excelproject {
  font-size: 15px;
}
#classchange {
  background-color: black;
  border-width: px15;
  border-color: $prime_1;
  border-style: solid;
  border-radius: 5%;
  font-size: 10px;
  padding-left: 45px;
  padding-right: 45px;
}
 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
//Snack Bar Example
 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar3 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar3.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar4 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar4.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar5 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar5.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar-sp {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 150px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar-sp.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 
//tooltip VBA btn
 /* Tooltip container */ 
 .tooltipp {
  position: relative;
  display: inline-block;
}
.tooltipp .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltipp:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltipp-pro {
  position: relative;
  display: inline-block;
}
.tooltipp-pro .tooltiptext-pro {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltipp-pro:hover .tooltiptext-pro {
  visibility: visible;
  opacity: 1;
}
//classchange tooltip
.tooltipp-cc {
  position: relative;
  display: block;
}
.tooltipp-cc .tooltiptext-cc {
  visibility: hidden;
  width: 125%;
  background-color: #555;
  color: #fff;
  text-align: left;
  font-size: medium;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltipp-cc:hover .tooltiptext-cc {
  visibility: visible;
  opacity: 1;
}
// Exp bar ideas
#exp99{
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 100%;
  border-collapse: collapse;
  font-family: Play;
  height: auto;
}
#currentxp, #slash, #requiredxp {
  display: inline;
}
#exp-bar {
  text-align: center;
}
.exp-bar-test1 {
  width: var(--widthmin);
  animation-name: exp-bar-test1,exp-bar-glow-test1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0s,0s;
}

@keyframes exp-bar-glow-test1 {
  from {
    width: var(--widthmin);
    position: relative;
    background:#fff;
    -webkit-filter:blur(2px);
  }
  to { width: var(--widths);
    position: relative;
    background:#46d4ff;
    -webkit-filter:blur(0px);
  }
}
@keyframes exp-bar-test1 {
  from {
    width: var(--widthmin);
    background-color: #46d4ff; 
    height: 25px;
  }   
  to {
    width: var(--widths);
    background-color: #46d4ff;
    height: 25px;
  } 
}
.exp-bar-test-test1 {
  width: var(--widthmin);
  animation-name: exp-bar-test-anime-test1;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
@keyframes exp-bar-test-anime-test1 {
  from {
    width: var(--widthmin);
    position: relative;
    background:#fff;
    -webkit-filter:blur(2px);
  }
  to { width: 100%; //Effects the entire thing, must be 100%
    position: relative;
    background: $prime_2;
    -webkit-filter:blur(0px);
  }
}
//skill Bar css
#skillbarwrapper{
  width: 100%;
}
* {box-sizing: border-box}
.container1 {
  width: 100%;
  background-color: $prime_2;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #424242;
}
#skills1 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}
#skills2 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}
#skills3 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}
#skills4 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}
#skills5 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 10px;
}
.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.sql {width: 50%; background-color: #a60fd4;}
.excel {width: 100%; background-color: #04eaf1;}
//Stat increase bar 1
.html1 {width: 100%; background-color: #04AA6D;}
.css1 {width: 100%; background-color: #2196F3;}
.sql1 {width: 85%; background-color: #a60fd4;}
.js1 {width: 85%; background-color: #f44336;}
//Stat increase bar 2
.sql2 {width: 100%; background-color: #a60fd4;}
.js2 {width: 100%; background-color: #f44336;}
//Extra padding for alignment
#exceltexts{padding-left: 15px;}
#htmltexts{padding-left: 15px;}
#csstexts{padding-left: 15px;}
#jstexts{padding-left: 15px;}
#sqltexts{padding-left: 15px;}
/*Skill tree ToolTips*/
//css beginner tooltip
.tooltip-css-beginner {
  position: relative;
  display: inline-block;
}
.tooltip-css-beginner .css-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-css-beginner:hover .css-beginner-text {
  visibility: visible;
  opacity: 1;
}
//css intermediate tooltip
.tooltip-css-intermediate {
  position: relative;
  display: inline-block;
  
}
.tooltip-css-intermediate .css-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-css-intermediate:hover .css-intermediate-text {
  visibility: visible;
  opacity: 1;
}
//css advanced tooltip
.tooltip-css-advanced {
  position: relative;
  display: inline-block;
  
}
.tooltip-css-advanced .css-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-css-advanced:hover .css-advanced-text {
  visibility: visible;
  opacity: 1;
}
//html beginner tooltip
.tooltip-html-beginner {
  position: relative;
  display: inline-block;
  
}
.tooltip-html-beginner .html-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-html-beginner:hover .html-beginner-text {
  visibility: visible;
  opacity: 1;
}
//html intermediate tooltip
.tooltip-html-intermediate {
  position: relative;
  display: inline-block;
  
}
.tooltip-html-intermediate .html-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-html-intermediate:hover .html-intermediate-text {
  visibility: visible;
  opacity: 1;
}
//html advanced tooltip
.tooltip-html-advanced {
  position: relative;
  display: inline-block;
  
}
.tooltip-html-advanced .html-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-html-advanced:hover .html-advanced-text {
  visibility: visible;
  opacity: 1;
}
//js beginner tooltip
.tooltip-js-beginner {
  position: relative;
  display: inline-block;
  
}
.tooltip-js-beginner .js-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-js-beginner:hover .js-beginner-text {
  visibility: visible;
  opacity: 1;
}
//js intermediate tooltip
.tooltip-js-intermediate {
  position: relative;
  display: inline-block;
  
}
.tooltip-js-intermediate .js-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-js-intermediate:hover .js-intermediate-text {
  visibility: visible;
  opacity: 1;
}
//js advanced tooltip
.tooltip-js-advanced {
  position: relative;
  display: inline-block;
  
}
.tooltip-js-advanced .js-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-js-advanced:hover .js-advanced-text {
  visibility: visible;
  opacity: 1;
}
//excel beginner tooltip
.tooltip-excel-beginner {
  position: relative;
  display: inline-block;
  
}
.tooltip-excel-beginner .excel-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-excel-beginner:hover .excel-beginner-text {
  visibility: visible;
  opacity: 1;
}
//excel intermediate tooltip
.tooltip-excel-intermediate {
  position: relative;
  display: inline-block;
  
}
.tooltip-excel-intermediate .excel-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-excel-intermediate:hover .excel-intermediate-text {
  visibility: visible;
  opacity: 1;
}
//excel advanced tooltip
.tooltip-excel-advanced {
  position: relative;
  display: inline-block;
  
}
.tooltip-excel-advanced .excel-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-excel-advanced:hover .excel-advanced-text {
  visibility: visible;
  opacity: 1;
}
//sql beginner tooltip
.tooltip-sql-beginner {
  position: relative;
  display: inline-block;
  
}
.tooltip-sql-beginner .sql-beginner-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-sql-beginner:hover .sql-beginner-text {
  visibility: visible;
  opacity: 1;
}
//sql intermediate tooltip
.tooltip-sql-intermediate {
  position: relative;
  display: inline-block;
  
}
.tooltip-sql-intermediate .sql-intermediate-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-sql-intermediate:hover .sql-intermediate-text {
  visibility: visible;
  opacity: 1;
}
//sql advanced tooltip
.tooltip-sql-advanced {
  position: relative;
  display: inline-block;
  
}
.tooltip-sql-advanced .sql-advanced-text {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-sql-advanced:hover .sql-advanced-text {
  visibility: visible;
  opacity: 1;
}
/*End Skill Tooltip section*/
//Start index.html css exclusively
.c1title{
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
#aLittleAboutMe-wrapper {
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
}
#aLittleAboutMe {
  text-align: center;
  margin-top: 2px;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}
#pageLinks-wrapper {
border-width: 2px;
border-color: black;
border-style: solid;
margin-top: 2px;
}
#pageLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 2px;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  text-align: center;
}
.pagelink {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
//End index.html
//Start job-history.html css exclusively
#history-profile-wrapper {
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: 100px 1fr;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  grid-gap: 2px;
}
#history-wrapper {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
#workhistory-inside-wrapper {
  margin: 2px;
  background-color: #222222;
}
.historyclass {
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  margin: 1px;
  background-color: black;
  color: $prime_1;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .historyclass:hover {
  background-color: #3b3b3b;
}
.panels {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 1px;
  padding: 0 18px;
  background-color: #222222;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.jobhistorytitle {
  text-align: center;
  border-width: 3px;
  border-color: #222222;
  border-style: solid;
  background-color: black;
}
//end Accordion
//about-me
#gamelinks-wrapper {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2px;
  text-align: center;
  
  }
  #gamelinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px;
    margin-top: 2px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: rgba(0, 0, 0, 0.63)
  }
  #toptitlegaming {
    background: rgba(0, 0, 0, 0.63);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-self: center;
  }
//end about-me